# Git
.git
.gitignore

# Dependencies
node_modules/

# Build
dist/
build/

# IDE
.idea/
.vscode/
*.swp

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Testing
coverage/

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose*.yml
